.titulo {
  display: flex;
  flex-direction: row;  
}

.titulo img {
  margin-right: 1rem !important;
  width: 120px !important;
}

.pais_page {
  display: flex;
  flex-direction: column;
}

.pais_single {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}

.pais_single span {
  font-weight: bold;
  margin-right: 0.5rem;
}

h2 {
  margin: 1rem 0;
}

img.superpoblado {
  width: 25px;
  height: auto;
  margin-left: 5px;
  margin-top: -5px;
}

.poblacion {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.botonera {
  margin-top: 1.5em;
  height: 3em;
  font-size: large;
}